langgraph==1.1.*
langchain-openai==1.2.*
langchain==1.2.*
dotenv==0.9.*
arize-phoenix==15.*
openinference-instrumentation-langchain==0.1.*
rich==15.0.*
tavily-python==0.7.*
jsonpickle==4.1.*
ipykernel